.site-nav,
.site-nav a {
  color: #999;
}

.site-nav .nav-fl {
  float: left;
  margin-left: 200px;

  background-color: yellow;
}
.site-nav .nav-fl .nav-item {
  width: 58px;
  height: 30px;
  line-height: 30px;

  /* font-size: 12px; */
}
.site-nav .nav-fl .nav-item .bi {
  margin-right: 3px;
  font-size: 18px;
  color: #f10215;
  vertical-align: -2px;
}

.site-nav .nav-fr {
  float: right;
  font-size: 12px;
}

.site-nav .nav-fr .nav-item {
  float: left;
  height: 31px;
  line-height: 31px;
}
.site-nav .nav-fr .nav-item.nav-dd {
  border: 1px solid transparent;
}
.site-nav .nav-fr .nav-item.nav-dd:hover {
  border: 1px solid #ccc;
  border-bottom: transparent;
  background-color: #fff;
}
.site-nav .nav-fr .nav-item .box {
  padding-inline: 7px;
}
.site-nav .nav-fr .nav-item .box.has-btn {
  position: relative;

  padding-inline-end: 20px;
}
.site-nav .nav-fr .nav-item .box i {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 12px;
  height: 12px;
  line-height: 12px;
}
.site-nav .nav-fr .nav-item.nav-login {
  margin-right: 8px;
}
.site-nav .nav-fr .nav-item .nav-link.hl {
  color: #f10215;
}

.site-nav .nav-fr .nav-item.spacer {
  width: 1px;
  height: 10px;
  margin: 11px 5px 0;
  background-color: #ccc;
}
