{
  "presets": [
    [
      "env",
      {
        // "targets": {
        //   "browsers": ["last 8 versions", "safari >= 5"],
        //   "node": "6.10"
        // }
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
