@import '~styles/variable.scss';

html {
  background-color: #ededed;
}

img {
  object-fit: cover;
  animation: imgShow 1s forwards;
}
@keyframes imgShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

.scroll-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.score {
  margin-left: 0.05rem;
  color: $starColor;
}
